/* section {background-color: #3C9655;} */
section {
    background-color: #3C9655;
    text-align: center;
}


/* Button 1 */
.st-emotion-cache-nbt3vv{
    background-color: #D1B9B9;
}

/* Button 2 */
.st-emotion-cache-nbt3vv{
    background-color: #BE4343;
}
