
section {
    background-color: #3C9655;
    font-family: itim, sans-serif;
}

/* title */
.st-emotion-cache-zt5igj{
    text-align: center;
    color: black
}

/* Input Box */
.st-emotion-cache-vj1c9o{
    background-color: #3C9655;
}

/* Chat Field */

